
/*
Tous les QLabel seront en gras et italic
*/
QLabel
{
    font-style: italic;
    font-weight : bold;
}


/*
Tous les QPuShButton
*/
QPushButton
{
    color: white;
    font-weight : bold;
    background-color : gray;
}


/*
    Le style sera aplliqué au survol du bouton
*/
QPushButton:hover
{
    background-color: white;
    color: grey;
}


/*
Tous les QCheckBox
*/
QCheckBox
{
    color: red;
    text-decoration: underline;
}

/*
    Le style sera aplliqué si le objectName est "btnValider"
*/
QPushButton#btnValider
{
    color: green;
    background-color : black;
}

QHeaderView
{
        background-color: lightgrey;
}

QHeaderView::section {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                      stop:0 #F2FFE6, stop: 0.5 #F2FFE6,
                                      stop: 0.6 #FBFFE6, stop:1 #FBFFE6);
    padding-left: 4px;
    border: 1px solid #093300;
        font-weight: bold;
        color: #00001A;
        border-radius: 2px;
}

QHeaderView::section:!enabled{
background-color :qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
stop: 0 grey, stop: 1 white);
color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 black,
stop: 1 grey);
}

QTableView::enabled
{
        background-color:lightgrey;
        border: 2px solid grey;
        border-radius : 4px;
        padding: 0 8px;
        color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 black,
        stop: 1 grey);
}

QTableView::item
{
    background-color: #fff7e6;
    border: 1px solid #003300;
        border-radius: 2px;
        color: #00001A
}

QTableView::item:alternate
{
        background-color: #ffe6ea;
}

QTableView::item::selected
{
    background-color: #FFAA00;
    border: 1px solid #003300;
        border-radius: 2px;
        font-weight: bold;
        color: #00001A;
}



QComboBox {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 1px 18px 1px 3px;
    min-width: 6em;
    background: white;
}

/*
    Le style sera aplliqué si combo a editable à true
*/
QComboBox:editable {
    background: red;
}







